<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %} - IoT for LEDs</title>
		<link href="/static/css/bootstrap.css" rel="stylesheet">
		<link href="/static/css/bootstrap-theme.css" rel="stylesheet">
		<link href="/static/css/theme.css" rel="stylesheet">
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/bootstrap.js"></script>
		<!-- Piwik -->
		<script type="text/javascript">
		var _paq = _paq || [];
		_paq.push(["setDomains", ["*.iotled.ytvwld.de"]]);
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="//piwik.ytvwld.de/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', '4']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		})();
		</script>
		<noscript><p><img src="//piwik.ytvwld.de/piwik.php?idsite=4" style="border:0;" alt="" /></p></noscript>
		<!-- End Piwik Code -->

	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">IoT for LEDs</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li id="nav-home"><a href="/">Home</a></li>
						<li id="nav-setup"><a href="/setup">Setup</a></li>
						<li id="nav-manage"><a href="/manage">Manage</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="https://github.com/YtvwlD/iotled">GitHub</a></li>
					</ul>
				</div>
			</div>
		</nav>

		{% block content %}{% endblock %}
		<script src="/static/js/app.js"></script>
	</body>
</html>
