[Unit]
Description=IoT for LEDs (client)
After=network.target

[Service]
Type=simple
ExecStart=/usr/lib/iotled/daemon.py
Restart=always

[Install]
WantedBy=multi-user.target
