[Unit]
Description=IoT for LEDs (server)
After=network.target

[Service]
Type=simple
User=nobody
Environment="PYTHONUNBUFFERED=true"
ExecStart=/usr/lib/iotled/start.py
Restart=always

[Install]
WantedBy=multi-user.target
